.table {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin: 1em auto;
}
.tHead th {
}
.tHead th {
  text-align: center;
}
.tBody tr {
  border: 1px solid black;
}
.tRow:nth-child(odd) {
  background-color: #eee;
}
.tRow {
}
.tData {
  padding: 0 1em;
}
