.newMenu button {
  background-color: white;
  color: var(--navbar-color);
  border: 1px solid var(--navbar-color);
  border-radius: 5px;

  font-size: 24px;
  padding: 0.1em 0.5em;
  margin: 0.1em;
  transition: background-color 0.5s, color 0.5s;
}

.newMenu button:hover,
.newMenu button:focus {
  background-color: var(--navbar-color);
  color: white;
}
