.wrapper {
  max-width: 600px;
  margin: auto;
  padding: 2em 0;
}
.result {
  padding-bottom: 1em;
  max-width: 500px;
  margin: auto;
}

.form h1 {
  /* text-decoration: underline; */
  font-size: 2em;
}
.form fieldset {
  width: 90vw;
  max-width: 100%;
  margin: auto;
  font-size: 1.5em;
}
.form label {
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin-bottom: 0.5em;
}
.nameGroup {
  border: 1px solid red;
}
.detailsGroup {
  border: 1px solid purple;
}

.form label:focus-within {
  font-weight: 600;
}
.form select {
  width: 250px;
}
.submit {
  background-color: white;
  color: var(--navbar-color);
  border: 1px solid var(--navbar-color);
  border-radius: 5px;
  padding: 0.5em;
  font-size: 24px;
  margin: 1em 0 auto calc(100% - 100px);
  transition: background-color 0.5s, color 0.5s;
}

.submit:hover,
.submit:focus {
  background-color: var(--navbar-color);
  color: white;
}

@media (max-width: 600px) {
  .form label {
    flex-direction: column;
    align-items: flex-start;
  }
}

/* new form */
.addOn {
  width: 5em;
}
