.block1 {
  background-color: var(--page-background);
  display: flex;
  flex-direction: column;
  width: 100%;
}
.block2 {
  background-color: var(--page-background);
  display: flex;
  flex-direction: column;
  width: 100%;
}
img {
  width: 100%;
}

.flash {
  color: var(--text-flash);
  text-transform: uppercase;
}
.shout,
.flash {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Kaushan Script', cursive;
  font-size: 36px;
}
.block1 div,
.block2 div {
  font-size: 20px;
}

@media (min-width: 768px) {
  img {
    width: 50%;
  }
  .shout,
  .flash {
    font-size: 72px;
  }
}
