.navbar {
  background-color: var(--navbar-color);
  border-bottom: 2px solid white;
}
.navText {
  color: var(--text-navbar) !important;
}

.navLogo {
  font-size: 32px;
  color: var(--text-logo) !important;
  font-family: var(--font-banner);
  /* font-family: var(--font-cursive);
  text-transform: uppercase; */
}

.navDropdown {
  background-color: var(--navbar-color) !important;
}
