@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Permanent+Marker&display=swap');
/* Theme */
:root {
  --navbar-color: #ee5a02;
  --navbar-dropdown: #ee5a02;
  --navbar-hover: blue;
  --icon-color: white;
  --icon-background: #ee5a02;
  --text-regular: black;
  --text-light: gray;
  --text-flash: #ee5a02;
  --text-navbar: white;
  --text-logo: white;
  --page-background: white;
  --dish-border-color: gray;
  --link-color: #333;
  --link-hover: black;
  /* --font-chinese: 'Noto Sans TC', sans-serif; */
  --font-banner: 'Permanent Marker', cursive;
  --font-cursive: 'Kaushan Script', cursive;
  --font-english: sans-serif;
  /* Media Breakpoints */
  --media-medium: 768px;
  --media-large: 1200px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* UTILITIES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: var(--link-color);
}
a:hover {
  color: var(--link-hover);
}
li {
  list-style: none;
}

nav {
  min-height: 60px;
  padding: 0;
}

main {
  min-height: calc(100vh - 140px);
  padding: 0;
  max-width: 1200px;
  margin: auto;
}

footer {
  /* position: sticky;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10; */
  height: 60px;
  padding: 0;
}
