.navbar {
  background-color: var(--navbar-color);
  border-bottom: 2px solid white;
}
.navText {
  color: var(--text-navbar) !important;
}

.navLogo,
.navLogo > a {
  font-size: 32px;
  color: var(--text-logo) !important;
  /* font-family: var(--font-banner); */
  font-family: var(--font-cursive);
  text-transform: uppercase;
  text-decoration: none;
}

.navDropdown {
  background-color: var(--navbar-color) !important;
}

.logBtn {
  background-color: var(--navbar-color);
  color: var(--text-navbar);
  border: none;
}
