.navbar {
  background-color: var(--navbar-color);
}
.navText {
  color: var(--text-navbar) !important;
}

.navLogo,
.navLogo > a {
  font-size: 32px;
  color: var(--text-logo) !important;
  /* font-family: var(--font-banner); */
  font-family: var(--font-cursive);
  text-transform: uppercase;
  text-decoration: none;
}

.navDropdown {
  background-color: var(--navbar-color) !important;
}

.justifyEnd {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

@media (min-width: 600px) {
  .navbar {
    border-bottom: 1px solid white;
  }
}
