.block {
  background-color: var(--page-background);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;
}
.dish > div {
  font-size: 10px;
}
.dish {
  grid-area: 2 / 1 / 3 / 2;
  z-index: 2;
}
.imageWrapper {
  grid-area: 1 / 1 / 2 / 2;
  /* The NextJS Image component adds 8px margin at bottom, no idea why */
  margin-bottom: -8px;
}
.slogan {
  grid-area: 1 / 1 / 2 / 2;
  z-index: 2;
  color: white;
  text-align: center;
  margin: 1em auto;
  font-family: var(--font-cursive);
  text-shadow: 5px 5px 10px black;
}
.sloganFlash {
  color: var(--text-flash);
  text-transform: uppercase;
}
.slogan,
.sloganFlash {
  font-size: 10vw;
}

/* TODO fix grid layout */
@media (min-width: 500px) {
  .block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .imageWrapper {
    grid-area: 1 / 1 / 3 / 3;
    z-index: 1;
  }
  .slogan {
    grid-area: 1 / 1 / 2 / 3;
    z-index: 2;
  }
  .dish {
    grid-area: 2 / 1 / 3 / 3;
    z-index: 2;
    margin: auto 5vw 5vw auto;
  }
  .dish > div div {
    font-size: min(2.5vw, 30px);
  }
}
