.table {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin: 1em auto;
}
.tHead th {
}
.tHead th {
  text-align: center;
}
.tBody tr {
  border: 1px solid black;
}
.tRow:nth-child(odd) {
  background-color: #eee;
}
.tRow {
}
.tData {
  padding: 0 1em;
}
.tData button {
  background-color: #fff;
  color: var(--navbar-color);
  border: 1px solid var(--navbar-color);
  border-radius: 5px;
  font-size: 24px;
  padding: 0.1em 0.5em;
  margin: 0.1em;
  transition: background-color 0.5s, color 0.5s;
}
.tData button:hover {
  background-color: var(--navbar-color);
  color: #fff;
}
