.table {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin: 1em auto;
}
.title {
  padding: 1em 0;
}

.tHead th {
  text-align: center;
}
.colNames > th {
  text-align: start;
  padding-left: 1em;
}
.tBody {
  border: 2px solid #eee;
}
.tRow:nth-child(odd) {
  background-color: #eee;
}
.tData {
  padding: 0 1em;
}
.tData button {
  background-color: #fff;
  color: var(--navbar-color);
  border: 1px solid var(--navbar-color);
  border-radius: 5px;
  font-size: 24px;
  width: 2em;
  height: 2em;
  margin: 0.1em 0 0.1em -0.2em;
  transition: background-color 0.5s, color 0.5s;
}
.tData button:hover {
  background-color: var(--navbar-color);
  color: #fff;
}
