.wrapper {
  max-width: 600px;
  margin: auto;
}
.result {
  padding-bottom: 1em;
  max-width: 500px;
  margin: auto;
}
.form h1 {
  font-size: 2em;
}

.nameGroup {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.5em;
  margin-top: 1em;
}
.detailsGroup {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.5em;
  margin-top: 1em;
}
.row {
  width: 100%;
  margin: auto;
  justify-content: space-around;
}

.form label:focus-within {
  font-weight: 600;
}
.form select {
  width: 250px;
}
.submit {
  background-color: white;
  color: var(--navbar-color);
  border: 1px solid var(--navbar-color);
  border-radius: 5px;
  padding: 0.5em;
  font-size: 24px;
  width: 4.5em;
  margin: 1em 0 auto calc(100% - 4.5em);
  transition: background-color 0.5s, color 0.5s;
}

.submit:hover,
.submit:focus {
  background-color: var(--navbar-color);
  color: white;
}
